/* Dialog demo specific styles - shared styles are in global styles.css */

.custom-template-content {
  padding: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: #374151;
}

.custom-template-content p {
  margin: 0 0 12px 0;
}

.custom-template-content p:last-child {
  margin-bottom: 0;
}

.custom-template-content ul {
  margin: 0 0 12px 0;
  padding-left: 20px;
}

.custom-template-content li {
  margin-bottom: 4px;
}

.custom-template-content strong {
  color: #111827;
}

.custom-template-content em {
  color: #6366f1;
  font-style: normal;
  font-weight: 500;
}

